.mainpage {
  background-color: rgb(145, 146, 152);
  height: 300px;
  width: 600px;
  border-radius: 15px;
  display: flex;
}
.homePage {
  text-align: center;
  vertical-align: middle;
}
.guestPage {
  text-align: center;
  vertical-align: middle;
}
.buttons {
  display: flex;
  text-align: center;
  vertical-align: middle;
}
